<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="ProductsApiBaseUrl" value="https://localhost:7102/" />
    <add key="ProductsApiTimeoutSeconds" value="10" />
    <add key="OrdersFilePath" value="Data\orders.json" />
  </appSettings>
</configuration>
